
  @font-face {
    font-family: YoungSerif-Regular;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
  }

body {
}
  
  :root  {
    --nutmeg:hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
}

.main {
  background-color: white;
  border-radius: 20px;
  padding-top:40px;
}

p {
  font-family: Outfit;
  font-size: 16px;
}

html {
  font-family: Outfit;
  color:hsl(24, 5%, 18%);
  padding:0;
  margin:0;
}

body {
  padding:0;
  margin:0;
}

.main {
 padding: 32px 32px;
}

h1 {
  font-family: YoungSerif-Regular;
  font-weight: 500;
  font-size:36px;
  line-height: 1em;
  text-wrap: wrap;
}

.prep-box {
  background-color: hsl(330, 100%, 98%);
  padding: 20px 10px 6px 20px;
  border-radius: 12px;
  font-family:Outfit;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 1.4em;
  margin-top:30px;
  color: var(--DarkCharcoal);
}

.prep-box ul {

  font-weight: 400;

}


.prep-list li span {
  vertical-align: middle;
  display: inline-block;
  margin-left:20px;
}

.prep-list li::marker {
  color: var(--nutmeg);
  font-size: 13px;
  transform: translateY(-50%);
}

.prep-title {
  padding-bottom: 0em;
  color: var(--DarkRaspberry);
  font-weight: bold;
  font-size: 20px;
}

.ingredients {
  font-family:Outfit;
  line-height: 2em;
}

.ingredients li {
  list-style: inside;
  position: relative;
}

.ingredients li span {
  padding-left: 20px;
  display: inline-block;
}

.ingredients ul {
  padding:0px 7px;

}

.ingredients li::marker {
  color: var(--nutmeg);
  font-size: 13px;
  transform: translateY(-50%);
  position: absolute;
}

.list-header {
  color:var(--nutmeg);
  font-family: YoungSerif-Regular;
  font-size: 29px;
  margin-bottom: 16px;
}

.hr-line {
border-color: rgba(255, 255, 255, 0.301);
margin: 25px 0px;
}

.inst-list {
  line-height: 25px;
  padding-left: 22px;
}



.inst-list li {
  color: var(--Dark-Charcoal); 
  line-height: 1.6;
  position: relative;
  padding-left:18px;
}

.inst-list li::marker {
  color:var(--nutmeg);
  font-weight: 700;
  font-family:outfit;
}

.nutrition table tbody tr .no-border {
 border-bottom:none;
}

.nutrition table tbody tr td {
  width: 65%;
  padding-left:30px;
  padding-top: 16px;
  padding-bottom:16px;
  border-bottom: 1px solid var(--LightGrey);
}

.nutrition table tbody tr td strong{
  color: var(--nutmeg);
  padding-right:80px;
}

.nutrition table { 
  border-spacing:0;
}

@media screen and (min-width: 375px) {
 .img {
  width: 75%;
  height:auto;
 }
}

.page-container {
  max-width:740px;
  max-height:100%;
  border-radius: 20px;
  background-color: var(--Eggshell);
  padding-top:10%;
  padding-bottom:10%;
}

.page-flex-wrapper {
  display:flex;
  justify-content: center;
  background-color: var(--Eggshell);
}

.banner {
  border-radius: 10px;
}
